<div class="container-fluid fullbleed">
  <div class="row toolbar">
    <div class="col-xs-12 fullbleed">
      <h2>{{l10n.accounts.title}}</h2>
    </div>
    <div class="shadow-container">
      <div class="shadow"></div>
    </div>
  </div>

  <div class="row scrollable-content">
    <div class="col-xs-12 fullbleed">
      <div class="container top-offset">
        <div class="row">
          <div class="col-xs-8">
            <button class="btn btn-default" ng-click="controller.selectAllAccounts('select-all-accounts');">
              <input id="select-all-accounts" ng-click="controller.toggleCheckbox('select-all-accounts')" type="checkbox">
            </button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <div class="col-xs-4">
            <button id="add-account" class="btn btn-primary" ng-click="controller.addAccount()">{{l10n.accounts.add}}</button>
          </div>
        </div>

        <div id="not-signed-into-browser" class="collapsable vertically-collapsed">
          <div class="top-margined alert alert-warning text-justify">
            <table>
              <tbody>
                <tr>
                  <td class="right-padded">
                    <span class="glyphicon glyphicon-warning-sign big-glyphicon"></span>
                  </td>
                  <td>
                    <strong>{{l10n.accounts.notSignedIntoBrowser}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="authorization-failed" class="collapsable vertically-collapsed">
          <div class="top-margined alert alert-danger text-justify">
            <table>
              <tbody>
                <tr>
                  <td class="right-padded">
                    <span class="glyphicon glyphicon-exclamation-sign big-glyphicon"></span>
                  </td>
                  <td>
                    <strong>{{l10n.accounts.authorizationFailed}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row top-offset">
          <div class="col-xs-12">
            <table id="accounts-list" class="table table-hover">
              <col width="42">
              <col width="*">
              <col width="*">
              <col width="80">
              <tbody>
                <tr ng-repeat="account in controller.accounts track by account.id">
                  <td class="text-center"><input type="checkboc" value="{{account.id}}"></td>
                  <td>{{account.name}}</td>
                  <td>{{account.state}}</td>
                  <td class="text-right"><button class="btn btn-default" ng-click="removeAccount(account.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-controller="IncognitoSubscriptions as subscriptionsController">

          <div class="row">
            <div class="col-xs-12">
              <h3>{{l10n.accounts.incognito.title}}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 col-lg-11">
              <input type="text" class="form-control" placeholder="{{l10n.accounts.incognito.addPlaceholder}}" ng-model="newSubscriptionUrl">
            </div>
            <div class="col-xs-2 col-lg-1">
              <button class="btn btn-primary full-width" ng-click="subscriptionsController.addSubscription(newSubscriptionUrl)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>

          <div id="adding-subscription" class="collapsable vertically-collapsed">
            <div class="top-margined alert alert-info text-justify">
              {{l10n.accounts.incognito.addingSubscription}}
            </div>
          </div>

          <div id="adding-subscription" class="collapsable vertically-collapsed">
            <div class="top-margined alert alert-warning text-justify">
              <p>{{l10n.accounts.incognito.invalidUrl.message}}</p>
              <ul>
                <li>{{l10n.accounts.incognito.invalidUrl.example1}}</li>
                <li>{{l10n.accounts.incognito.invalidUrl.example2}}</li>
                <li>{{l10n.accounts.incognito.invalidUrl.example3}}</li>
              </ul>
            </div>
          </div>

          <div id="incognito-api-failed" class="collapsable vertically-collapsed">
            <div class="top-margined alert alert-danger text-justify">
              <table>
                <tbody>
                  <tr>
                    <td class="right-padded">
                      <span class="glyphicon glyphicon-exclamation-sign big-glyphicon"></span>
                    </td>
                    <td>
                      <strong>{{l10n.accounts.incognito.apiFailure}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row top-offset">
            <div class="col-xs-12">
              <button class="btn btn-default" ng-click="controller.selectAllSubscriptions('select-all-subscriptions');">
                <input id="select-all-subscriptions" ng-click="controller.toggleCheckbox('select-all-subscriptions')" type="checkbox">
              </button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>

          <div class="row top-offset">
            <div class="col-xs-12">
              <table id="subscriptions-list" class="table table-hover">
                <col width="42">
                <col width="*">
                <col width="*">
                <col width="80">
                <tbody>
                  <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>
                      <span class="glyphicon glyphicon-user"></span>
                      Annoying Orange
                    </td>
                    <td>active</td>
                    <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                  </tr>
                  <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>
                      <span class="glyphicon glyphicon-play"></span>
                      Bronze League Heroes
                    </td>
                    <td>active</td>
                    <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="modal-overlay"></div>

          <div class="modal-content" id="invalid-channel-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="{{l10n.accounts.incognito.modal.close}}"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{l10n.accounts.incognito.modal.invalidChannelUrl.title}}</h4>
            </div>
            <div class="modal-body">
              <p>{{l10n.accounts.incognito.modal.invalidChannelUrl.message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">{{l10n.accounts.incognito.modal.close}}</button>
            </div>
          </div>

          <div class="modal-content" id="invalid-user-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="{{l10n.accounts.incognito.modal.close}}"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{l10n.accounts.incognito.modal.invalidUserUrl.title}}</h4>
            </div>
            <div class="modal-body">
              <p>{{l10n.accounts.incognito.modal.invalidUserUrl.message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">{{l10n.accounts.incognito.modal.close}}</button>
            </div>
          </div>

          <div class="modal-content" id="invalid-playlist-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="{{l10n.accounts.incognito.modal.close}}"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{l10n.accounts.incognito.modal.invalidPlaylistUrl.title}}</h4>
            </div>
            <div class="modal-body">
              <p>{{l10n.accounts.incognito.modal.invalidPlaylistUrl.message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">{{l10n.accounts.incognito.modal.close}}</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
