<div class="container-fluid fullbleed">
  <div class="row toolbar">
    <div class="col-xs-12 fullbleed">
      <h2>{{options_accounts_title}}</h2>
    </div>
    <div class="shadow-container">
      <div class="shadow"></div>
    </div>
  </div>

  <div class="row scrollable-content">
    <div class="col-xs-12 fullbleed">
      <div class="container top-offset">
        <div class="row">
          <div class="col-xs-8">
            <button class="btn btn-default" ng-click="controller.selectAllAccounts('select-all-accounts');">
              <input id="select-all-accounts" ng-click="controller.toggleCheckbox('select-all-accounts')" type="checkbox">
            </button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <div class="col-xs-4">
            <button id="add-account" class="btn btn-primary" ng-click="controller.addAccount()">{{options_accounts_add}}</button>
          </div>
        </div>

        <div id="not-signed-into-browser" class="collapsable vertically-collapsed">
          <div class="top-margined alert alert-warning text-justify">
            <table>
              <tbody>
                <tr>
                  <td class="right-padded">
                    <span class="glyphicon glyphicon-warning-sign big-glyphicon"></span>
                  </td>
                  <td>
                    <strong>{{options_accounts_notSignedIntoBrowser}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="authorization-failed" class="collapsable vertically-collapsed">
          <div class="top-margined alert alert-danger text-justify">
            <table>
              <tbody>
                <tr>
                  <td class="right-padded">
                    <span class="glyphicon glyphicon-exclamation-sign big-glyphicon"></span>
                  </td>
                  <td>
                    <strong>{{options_accounts_authorizationFailed}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row top-offset">
          <div class="col-xs-12">
            <table id="accounts-list" class="table table-hover">
              <col width="42">
              <col width="*">
              <col width="*">
              <col width="80">
              <tbody>
                <tr ng-repeat="account in controller.accounts track by account.id">
                  <td class="text-center"><input type="checkboc" value="{{account.id}}"></td>
                  <td>{{account.name}}</td>
                  <td>{{account.state}}</td>
                  <td class="text-right"><button class="btn btn-default" ng-click="removeAccount(account.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td>mato.jurca@gmail.com</td>
                  <td>active</td>
                  <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-controller="IncognitoSubscriptions as subscriptionsController">

          <div class="row">
            <div class="col-xs-12">
              <h3>{{options_accounts_incognitoTitle}}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 col-lg-11">
              <input type="text" class="form-control" placeholder="{{options_accounts_addIncognitoPlaceholder}}" ng-model="newSubscriptionUrl">
            </div>
            <div class="col-xs-2 col-lg-1">
              <button class="btn btn-primary full-width" ng-click="subscriptionsController.addSubscription(newSubscriptionUrl)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>

          <div class="row top-offset">
            <div class="col-xs-12">
              <button class="btn btn-default" ng-click="controller.selectAllSubscriptions('select-all-subscriptions');">
                <input id="select-all-subscriptions" ng-click="controller.toggleCheckbox('select-all-subscriptions')" type="checkbox">
              </button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>

          <div class="row top-offset">
            <div class="col-xs-12">
              <table id="subscriptions-list" class="table table-hover">
                <col width="42">
                <col width="*">
                <col width="*">
                <col width="80">
                <tbody>
                  <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>
                      <span class="glyphicon glyphicon-user"></span>
                      Annoying Orange
                    </td>
                    <td>active</td>
                    <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                  </tr>
                  <tr>
                    <td class="text-center"><input type="checkbox"></td>
                    <td>
                      <span class="glyphicon glyphicon-play"></span>
                      Bronze League Heroes
                    </td>
                    <td>active</td>
                    <td class="text-right"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="modal-overlay"></div>

          <div class="modal-content" id="invalid-subscribable-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Invalid YouTube channel, user or playlist address</h4>
            </div>
            <div class="modal-body">
              <p>The address you have provided is not a valid address to a YouTube channel, user or playlist. Here are some examples of valid addresses:</p>
              <ul>
                <li>https://www.youtube.com/channel/2SdUCC55-3iny_tLUzAk2Bud (a YouTube channel)</li>
                <li>https://www.youtube.com/user/someusername3 (a YouTube user)</li>
                <li>https://www.youtube.com/playlist?list=Fkskvoa44vfdsVs563dVyxd (a YouTube playlist)</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Close</button>
            </div>
          </div>

          <div class="modal-content" id="invalid-channel-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Invalid YouTube channel address</h4>
            </div>
            <div class="modal-body">
              <p>While the address you provided seems to be in a valid form, it does not appear to lead to any YouTube channel. If you think the address is correct, please try again later, there may be an issue on the YouTube side.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Close</button>
            </div>
          </div>

          <div class="modal-content" id="invalid-user-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Invalid YouTube user address</h4>
            </div>
            <div class="modal-body">
              <p>While the address you provided seems to be in a valid form, it does not appear to lead to any YouTube user. If you think the address is correct, please try again later, there may be an issue on the YouTube side.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Close</button>
            </div>
          </div>

          <div class="modal-content" id="invalid-playlist-url">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Invalid YouTube playlist address</h4>
            </div>
            <div class="modal-body">
              <p>While the address you provided seems to be in a valid form, it does not appear to lead to any YouTube playlist. If you think the address is correct, please try again later, there may be an issue on the YouTube side.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
