/* main layout */

html,
body,
.fullbleed {
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#main-menu ul {
  padding-left: 1em;
}

#main-menu li {
  list-style: none;
  margin-bottom: 1em;
}

#main-menu .active {
  font-weight: bold;
}

#main-menu a {
  text-decoration: none;
}

#view-container {
  padding-left: 0;
  padding-right: 0;
}

.scrollable-content {
  height: calc(100% - 53px);
  overflow: auto;
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

/* accounts management */

#add-account {
  width: 100%;
}

/* toolbar */

.toolbar {
  position: relative;
  z-index: 1;
  height: 53px;
}

.toolbar h2 {
  margin-top: 10px;
  white-space: nowrap;
}

#long-page-title {
  display: none;
}

@media (min-width: 1530px) {
  #short-page-title {
    display: none;
  }

  #long-page-title {
    display: block;
  }
}

.shadow-container {
  width: 100%;
  height: 0;
  float: left;
}

.shadow {
  height: 6px;
}

/* modal windows */

#modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 10;
}

.modal-content {
  position: absolute;
  display: none;
  z-index: 11;
}

#modal-overlay.active,
.modal-content.active {
  display: block;
}

/* various utility classes */

.top-offset {
  padding-top: 2em;
}

.top-margined {
  margin-top: 2em;
}

.padded {
  padding: 1em;
}

.right-padded {
  padding-right: 1em;
}

.full-width {
  width: 100%;
}

.big-glyphicon {
  font-size: 2em;
}

.collapsable {
  overflow: hidden;
}

.vertically-collapsed {
  height: 0;
}

/* modified fixed container and modal width to adjust for the sidebar menu */

@media (min-width: 768px) {
  .container {
    width: 544px;
  }
  .modal-content {
    width: 514px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 712px;
  }
  .modal-content {
    width: 682px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 867px;
  }
  .modal-content {
    width: 837px;
  }
}
