/* main layout */

#view-container {
  background: #f9f9f9;
}

/* toolbar */

.toolbar {
  background: rgb(255, 76, 76);
  color: white;
}

.shadow {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

/* modal windows */

.modal-content {
  opacity: 0;
}

.modal-content.active.shown {
  opacity: 1;
}

#modal-overlay {
  background: rgba(255, 255, 255, 0.45);
  opacity: 0;
}

#modal-overlay.active.shown {
  opacity: 1;
}
