<!DOCTYPE html>
<html ng-controller="Options as options" ng-cloak>
  <head>
    <title>{{l10n.pageTitle}}</title>

    <script src="../node_modules/grunt-traceur/node_modules/traceur/bin/traceur-runtime.js"></script>
    <script data-main="../dist/ui/options/bootstrap" src="../bower_components/requirejs/require.js"></script>
    <script src="../src/requirejs-config.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="options/layout.css">
    <link rel="stylesheet" href="options/theme-default.css">
    <link rel="stylesheet" href="options/animations.css">
  </head>
  <body>
    <div class="container-fluid fullbleed">
      <div class="row fullbleed">
        <div class="col-xs-3 fullbleed" id="main-menu">
          <div class="row toolbar">
            <div class="col-xs-12 fullbleed">
              <h2 id="short-page-title">{{l10n.title.short}}</h2>
              <h2 id="long-page-title">{{l10n.title.full}}</h2>
            </div>
            <div class="shadow-container">
              <div class="shadow"></div>
            </div>
          </div>

          <ul class="top-offset">
            <li>
              <a href="#/accounts" class="active" ng-click="options.switchPage('accounts')">{{l10n.menu.accounts}}</a>
            </li>
            <li>
              <a href="#/videos" ng-click="options.switchPage('videos')">{{l10n.menu.videos}}</a>
            </li>
            <li>
              <a href="#/synchronization" ng-click="options.switchPage('synchronization')">{{l10n.menu.synchronization}}</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-9 fullbleed" id="view-container">
          <div ng-view class="fullbleed"></div>
        </div>
      </div>
    </div>
  </body>
</html>
